* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #e5e5e5;
}

.front_page {
  margin-bottom: 100px;
}

.nav__wrapper {
  background-color: white;
}

.menue_bar {
  position: relative;
  top: -1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  height: 30px;
  width: 40px;
}

.menue_bar_desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.nav_list {
  margin-right: 32px;
}

.nav_link {
  font-weight: 500;
  height: 30px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.bar1 {
  margin-bottom: 3px;
  width: 1.5rem;
  height: 0.2rem;
  border: 2px solid #6070ff;
}

.logo {
  font-weight: 700;
  margin-top: 25px;
  margin-left: 150px;
  height: 30px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 20px;
  align-self: end;
}

.logo:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.main__wrapper {
  /* position: static;
  top: 0; */
  background-image: url(./img/contact__\ back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  background-color: white;
}

.porto_wrapper {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  margin-top: 100px;
  margin-left: 260px;
  margin-right: 260px;
  width: auto;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 120px;
  margin-bottom: 12px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  font-weight: 700;
  margin-right: 260px;
}

.headline:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.description {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin-right: 24px;
  font-weight: 400;
}

.description:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.connect_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.contact {
  height: 30px;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: left;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.contact:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.contact_us_wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 50px;
}

#popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  padding-right: 30px;
  border: 2px solid blueviolet;
  background-color: white;
  justify-content: center;
}

.close_wrapper {
  display: flex;
  justify-content: space-between;
}

.closeBtn {
  font-size: 40px;
}

.closeBtn:hover {
  cursor: pointer;
}

.popup_header {
  display: inline-block;
}

.grid__wrapper {
  display: grid;
}

.covers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: white;
  background-size: cover;
  border-radius: 20px;
}

#uber_box {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#float__img {
  grid-column-start: 2;
  grid-column-end: 3;
}

.img__main-wrapper {
  align-self: center;
}

.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pic__1 {
  position: absolute;
  top: -1000px;
}

#pic__3 {
  position: absolute;
  top: -1000px;
}

#text__1 {
  position: relative;
  top: -1000px;
}

#text__3 {
  position: relative;
  top: -1000px;
}

#canopy_1 {
  position: relative;
  top: -1000px;
  width: 0;
}

#back__1 {
  position: absolute;
  top: -1000px;
}

.img__class {
  margin: 24px;
  height: 324px;
  width: 100%;
}

.img__class:hover {
  border: 2px solid #396df2;
}

#see_pro-blue {
  background-color: #4053fc;
  color: white;
}

.right__box {
  margin-left: 24px;
}

.bold-text {
  margin-left: 16px;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  color: #172b4d;
}

.bold-text:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.selections {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main__txt__wrapper {
  font-family: poppins, sans-serif;
  font-weight: 600;
  color: #344563;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.main__txt {
  color: #344563;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  margin: auto;
  text-decoration: none;
}

.main__txt__wrapper:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.circle__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  text-align: center;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: rgb(190, 180, 180);
  border-radius: 10px;
}

.circle:hover {
  border: 1px solid #396df2;
}

.list__wrapper {
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.list {
  height: 30px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  line-height: 16px;
  margin-right: 8px;
  color: #7a869a;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.platform {
  width: auto;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pla__btn {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 25px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.pla__btn:hover {
  border: 2px solid #396df2;
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.see-project {
  width: fit-content;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  align-items: center;
  border: 1px solid #396df2;
  border-radius: 16px;
  background-color: white;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.see-project:hover {
  border: 2px solid #396df2;
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.signup-disc {
  height: max-content;
  width: auto;
  margin-left: 16px;
  margin-right: 12px;
  margin-top: 12px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-top: 0;
  color: #344563;
}

.signup-disc:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

#about_detail {
  height: max-content;
}

.about-section {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-top-right-radius: 180px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.discription__wrapper {
  margin-top: 142px;
  margin-left: 142px;
}

.details {
  width: auto;
  height: 150px;
  margin-right: 12px;
  font-family: poppins, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.let-connect {
  width: auto;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-left: 12px;
  color: #7f8cff;
}

.let-connect:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.contact_us_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 44px;
  margin-top: 48px;
}

.icon {
  margin-right: 1rem;
}

.fa-twitter {
  color: #172b4d;
  font-size: 1.7rem;
}

.fa-twitter:hover {
  border: 1px solid #396df2;
}

.fa-linkedin-in {
  color: #172b4d;
  font-size: 1.7rem;
}

.fa-linkedin-in:hover {
  border: 1px solid #396df2;
}

.fa-github-square {
  color: #172b4d;
  font-size: 1.7rem;
}

.fa-github-square:hover {
  border: 1px solid #396df2;
}

.fa-medium-m {
  color: #172b4d;
  font-size: 1.7rem;
}

.fa-medium-m:hover {
  border: 1px solid #396df2;
}

.fa-angellist {
  color: #172b4d;
  font-size: 1.7rem;
}

.fa-angellist:hover {
  border: 1px solid #396df2;
}

.get-resume {
  width: 200px;
  height: 25px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  padding: 12px 12px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 10px;
}

.Resume {
  width: 100vw;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.performance__wrapper {
  margin-top: 142px;
  margin-right: 142px;
}

.performance {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.language-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.languages-title {
  width: 303px;
  height: 66.72px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  letter-spacing: 0.03em;
  color: #000;
}

.languages-title:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.frameworks-title {
  width: 303px;
  height: 66.72px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  letter-spacing: 0.03em;
  color: #000;
}

.frameworks-title:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.skills-title {
  width: 303px;
  height: 66.72px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  letter-spacing: 0.03em;
  color: #000;
}

.javascript {
  width: 120px;
  height: 122px;
  padding: 12px 12px;
  margin-top: 24px;
  margin-right: 12px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #253858;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.javascript:hover {
  border: 1px solid #396df2;
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.html {
  width: 120px;
  height: 122px;
  padding: 12px 12px;
  margin-top: 24px;
  margin-right: 12px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #253858;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.html:hover {
  border: 1px solid #396df2;
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.css {
  width: 120px;
  height: 122px;
  padding: 12px 12px;
  margin-top: 24px;
  margin-right: 12px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #253858;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.css:hover {
  border: 1px solid #396df2;
  text-decoration: underline;
  text-decoration-color: #396df2;
}

.platform_img {
  margin-bottom: 16px;
}

.language-details img {
  margin-right: 12px;
  width: 30px;
  height: 30px;
}

.total__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 48px;
}

.platform__wrapper {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 40px;
}

#bar__wrapper1 {
  margin-right: 5px;
}

.bar {
  width: 15px;
  height: 3px;
  transition: all 0.3s ease;
  display: block;
  background: #acb7c3;
}

.bar:hover {
  border: 1px solid #396df2;
}

.platform__wrapper #bar__wrapper1:nth-child(2) {
  transform: translateY(-15px) rotate(90deg);
}

.bar__wrapper .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.bar__wrapper .bar:nth-child(2) {
  transform: translateY(-17px)  rotate(-45deg);
}

.underline {
  align-self: flex-start;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease;
  display: block;
  background: #acb7c3;
}

.underline:hover {
  border: 1px solid #396df2;
}

.contact-me_page {
  /* width: 100vw;
  height: 660px; */
  background-image: url(./img/contact__main-back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 150px;
}

.forms__page {
  position: absolute;
  top: -1000000px;
}

.contact__wrapper {
  margin: 69px 64px 36px 75px;
  width: auto;
  background-image: url(./img/contact__\ back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__header {
  color: white;
  font-size: 40px;
  line-height: 52px;
  font-family: poppins, sans-serif;
  margin-bottom: 8px;
  height: 70px;
}

.description__contact {
  align-self: center;
  width: 540px;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  font-family: poppins, sans-serif;
  margin-bottom: 8px;
}

.text__input {
  width: 447px;
  height: 48px;
  font-size: 20px;
  line-height: 28px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  color: #172b4d;
  padding-left: 12px;
  margin-bottom: 8px;
}

#message__box {
  width: 447px;
  font-size: 20px;
  line-height: 28px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  color: #eef1f5;
  padding-left: 12px;
  margin-bottom: 8px;
}

.submit__btn {
  width: fit-content;
  padding: 12px 16px;
  margin-left: 160px;
  text-align: center;
  align-items: center;
  border: 1px solid #396df2;
  border-radius: 16px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 500;
  align-self: center;
}

@media (max-width: 1024px) {
  .nav__wrapper {
    background-color: white;
    margin-bottom: 0;
  }

  .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1100;
  }

  .logo {
    height: 30px;
    margin-left: 24px;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 20px;
  }

  .logo:hover {
    text-decoration: underline;
    text-decoration-color: #6070ff;
  }

  .menue_bar_desktop {
    position: absolute;
    top: -1000px;
    transition: all 0.5s ease;
  }

  .menue_bar_desktop.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 99;
    top: 100px;
    height: 70vh;
    background: #fff;
    opacity: 0.8;
    align-self: center;
    background-color: #6070ff;
    padding-top: 2rem;
    padding-left: 1rem;
    position: fixed;
  }

  .menue_bar_desktop.active .nav_link {
    display: flex;
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .menue_bar {
    top: 0;
  }

  #mobile_menue.a .bar1:nth-child(2) {
    opacity: 0;
  }

  #mobile_menue.a .bar1:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menue.a .bar1:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
  }

  .main__wrapper {
    background-image: url(./img/contact__\ back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100px;
    width: 100%;
  }

  .porto_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0;
  }

  .headline {
    width: 327px;
    height: 160px;
    margin-top: 68px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
  }

  .headline:hover {
    text-decoration: underline;
    text-decoration-color: #6070ff;
  }

  .description {
    margin-top: 12px;
    margin-bottom: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #172b4d;
    margin-right: 24px;
    width: 100%;
  }

  .description:hover {
    text-decoration: underline;
    text-decoration-color: #6070ff;
  }

  .connect_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }

  .contact {
    height: 30px;
    margin-bottom: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #7f8cff;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    font-weight: lighter;
  }

  .contact:hover {
    text-decoration: underline;
    text-decoration-color: #6070ff;
  }

  .contact_us_wrapper1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 50px;
  }

  .grid__wrapper {
    display: grid;
  }

  .covers {
    width: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-size: cover;
    border-radius: 20px;
    padding: 24px;
  }

  .img__class {
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 20px;
  }

  .img__class:hover {
    border: 2px solid #396df2;
  }

  #pic__2 {
    position: absolute;
    top: -1000px;
  }

  #pic__1 {
    position: relative;
    top: 0;
  }

  #pic__3 {
    position: relative;
    top: 0;
  }

  #pic__4 {
    position: absolute;
    top: -100000px;
  }

  #text__1 {
    position: relative;
    top: 0;
  }

  #text__2 {
    position: absolute;
    top: -1000px;
  }

  #text__3 {
    position: relative;
    top: 0;
  }

  #text__4 {
    position: absolute;
    top: -1000px;
  }

  #canopy_1 {
    width: unset;
    position: relative;
    top: 0;
  }

  #back__1 {
    position: relative;
    top: 0;
  }

  #canopy_2 {
    position: relative;
    top: -1000px;
  }

  #back__2 {
    position: absolute;
    top: -1000px;
  }

  .right__box {
    width: 100%;
    height: unset;
  }

  .bold-text {
    width: auto;
    margin: 0 16px 20px 0;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #172b4d;
  }

  .bold-text:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .selections {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main__txt__wrapper {
    font-family: poppins, sans-serif;
    font-weight: 600;
    color: #344563;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .main__txt {
    color: #344563;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    margin-left: auto;
    text-decoration: none;
    width: 0;
  }

  .main__txt__wrapper:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .circle__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    text-align: center;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: rgb(190, 180, 180);
    border-radius: 10px;
  }

  .circle:hover {
    border: 1px solid #396df2;
  }

  .list__wrapper {
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .list {
    height: 30px;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    margin-right: 16px;
    color: #7a869a;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .platform {
    width: auto;
    margin-left: 0;
    margin-right: 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .pla__btn {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 25px;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .pla__btn:hover {
    border: 2px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .see-project {
    width: fit-content;
    margin-left: 0;
    margin-right: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    align-items: center;
    border: 1px solid #396df2;
    border-radius: 16px;
    background-color: white;
    padding: 12px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-weight: 500;
  }

  .see-project:hover {
    border: 2px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  #project_about {
    margin-left: 20px;
  }

  #about_title {
    margin-left: 20px;
  }

  #lets-connect_title {
    margin-left: unset;
    padding-left: 0;
  }

  .signup-disc {
    width: auto;
    margin-left: 0;
    margin-right: 12px;
    margin-top: 12px;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    padding-top: 0;
    flex: none;
    color: #344563;
  }

  .signup-disc:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .about-section {
    width: 100vw;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-size: cover;
    border-top-right-radius: 180px;
  }

  .about__wrapper {
    display: unset;
    grid-template-columns: unset;
  }

  .discription__wrapper {
    margin-top: unset;
    margin-left: unset;
  }

  .details-about-me {
    margin-top: 114px;
    margin-right: 24px;
    margin-left: 12px;
  }

  .details {
    width: auto;
    height: 150px;
    margin-right: 12px;
    font-family: poppins, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .let-connect {
    width: auto;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-left: 12px;
    color: #7f8cff;
  }

  .let-connect:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .contact_us_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 44px;
    margin-top: 48px;
  }

  .icon {
    margin-right: 1rem;
  }

  .fa-twitter {
    color: #172b4d;
    font-size: 1.7rem;
  }

  .fa-twitter:hover {
    border: 1px solid #396df2;
  }

  .fa-linkedin-in {
    color: #172b4d;
    font-size: 1.7rem;
  }

  .fa-linkedin-in:hover {
    border: 1px solid #396df2;
  }

  .fa-github-square {
    color: #172b4d;
    font-size: 1.7rem;
  }

  .fa-github-square:hover {
    border: 1px solid #396df2;
  }

  .fa-medium-m {
    color: #172b4d;
    font-size: 1.7rem;
  }

  .fa-medium-m:hover {
    border: 1px solid #396df2;
  }

  .fa-angellist {
    color: #172b4d;
    font-size: 1.7rem;
  }

  .fa-angellist:hover {
    border: 1px solid #396df2;
  }

  .performance__wrapper {
    border: unset;
    margin-top: unset;
    margin-right: unset;
  }

  .get-resume {
    width: 200px;
    height: 25px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    padding: 12px 12px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: #396df2;
    border: 1px solid #396df2;
    border-radius: 10px;
  }

  .Resume {
    width: 100vw;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  .performance {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .language-details {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-template-columns: unset;
    align-items: unset;
    margin-right: 36px;
  }

  .languages-title {
    width: 303px;
    height: 66.72px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-align: left;
    letter-spacing: 0.03em;
    color: #000;
  }

  .languages-title:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .frameworks-title {
    width: 303px;
    height: 66.72px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-align: left;
    letter-spacing: 0.03em;
    color: #000;
  }

  .frameworks-title:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .skills-title {
    width: 303px;
    height: 66.72px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-align: left;
    letter-spacing: 0.03em;
    color: #000;
  }

  .platform_img {
    margin-bottom: unset;
  }

  .javascript {
    width: 100%;
    height: 66.72px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    padding: 12px 12px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #253858;
    background-color: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .javascript:hover {
    border: 1px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .html {
    width: 100%;
    height: 66.72px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    padding: 12px 12px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    align-items: center;
    letter-spacing: 0.03em;
    color: #253858;
    background-color: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .html:hover {
    border: 1px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .css {
    width: 100%;
    height: 66.72px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    padding: 12px 12px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    align-items: center;
    letter-spacing: 0.03em;
    color: #253858;
    background-color: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .css:hover {
    border: 1px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .language-details img {
    margin-right: 12px;
    width: 30px;
    height: 30px;
  }

  .total__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px;
    margin-right: 50px;
    width: 97%;
  }

  .platform__wrapper {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .bar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 40px;
    margin-left: -60px;
  }

  #bar__wrapper1 {
    text-align: end;
  }

  .bar {
    width: 15px;
    height: 3px;
    transition: all 0.3s ease;
    display: block;
    background: #acb7c3;
  }

  .bar:hover {
    border: 1px solid #396df2;
  }

  .bar__wrapper .bar:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }

  .bar__wrapper .bar:nth-child(2) {
    transform: translateY(-14px) rotate(-45deg);
  }

  .underline {
    align-self: flex-start;
    width: 100%;
    height: 1px;
    transition: all 0.3s ease;
    display: block;
    background: #acb7c3;
  }

  .underline:hover {
    border: 1px solid #396df2;
  }

  .forms__page {
    background-image: url(img/contact__main-back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    margin-top: 100px;
    position: relative;
    top: 0;
  }

  .contact-me_page {
    position: absolute;
    top: -1000000px;
  }

  .form__wrapper {
    background-image: url(img/contact__\ back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 103px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form__title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    height: 56px;
    margin-bottom: 12px;
  }

  .form__title:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .form__paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    color: #ebebff;
    margin: 0 24px 24px 0;
    text-align: center;
  }

  .form__paragraph:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .main__form {
    margin: 24px 12px 30px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input__space {
    padding: 15px 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0 24px 20px 24px;
    height: 48px;
    width: 100%;
    color: #172b4d;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .input__space:hover {
    border: 1px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .text__area {
    padding: 15px 16px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0 24px 20px 24px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .text__area:hover {
    border: 1px solid #396df2;
    text-decoration: underline;
    text-decoration-color: #396df2;
  }

  .input__btn {
    width: fit-content;
    height: 68px;
    margin-right: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    background-color: white;
    padding: 12px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-weight: 500;
    align-self: flex-start;
  }

  .input__btn:enabled {
    background-color: white;
    color: #396df2;
  }

  .input__btn:hover {
    background-color: #6070ff;
    color: white;
  }

  .input__btn:active {
    background-color: #2230d2;
    color: white;
  }

  .list_main_rp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 483px) {
  .selections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .list_main_rp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-bottom: 20px;
  }

  .circle {
    margin: unset;
  }
}

@media (min-width: 1000px) {
  .headline {
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.26, -0.35, 0.99, 1.54);
  }

  @keyframes myanimation {
    0% {
      background-color: white;
      top: 0;
      left: 0;
    }

    25% {
      background-color: red;
      top: 0;
      left: 200px;
    }

    50% {
      background-color: green;
      top: 200px;
      left: 200px;
    }

    75% {
      background-color: blue;
      top: 200px;
      left: 0;
    }

    100% {
      background-color: white;
      top: 0;
      left: 0;
    }
  }
}
